<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Books and Ratings</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    
</head>
<body style="background-color: gray;">
    Search by rating:
<form method="GET">
    <input type="number" name="rating" min="1" max="5" style="border: 0px; background-color: rgba(255, 255, 255, 0.355); border-bottom: 1px black solid;">
    <input type="submit" value="BookSearch">
</form>
   
    
    <table style="border: 1px black solid;">
        <% for (let p of books) { %>
            <tr>
                <td style="border: 1px black solid;">
                    <%= p.title %> 
                </td>
                <td style="border: 1px black solid;">

                  <% for( let index = 0; index < p.rating; index++ ) { %>
                        <span style="color: yellow;">★</span>
                    <% } %>
                
                
                </td>
            </tr>
        <% } %>

    </table>
        <br>
        <a href="books/new" style="text-decoration-line: none; color: black; background-color: rgba(84, 241, 155, 0.819);">Add a new book</a>
</body>
</html>