<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>New Book</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>



    </style>
</head>
<body style="background-color: gray;">

    <form method="POST">
        <p>Title: <input type="text" name="title" placeholder="[Example]: The Druid"> </p> 
       <p> rating:<input type="number" name="rating" min="1" max="5"><span style="color: yellow;">★</span></p>
       <p><input type="submit" value="Add Book"></p> 
    </form>
    <br>
    <a href="/">Back to the Main page</a>
</body>
</html>